.page{
	width: 100%;
}
.inf-page{
	display: inline-block;
	float: left;
	width: 29%;
	height: 100%;
	font-size: 15px;
}
.icon-ctg{
	width: 90%;
	height: 60%;
	margin: 20px 5%;
}
.ans{
	font-weight: bold;
	color: #333;
	margin-right: 15px;
}
.product{
	display: inline-block;
	width: 70%;
	height: 100%;
}
.product-name{
	margin: 10px auto;
}
.inf{
	font-size: 16px;
	font-family: open-sans,sans-serif;
	margin-bottom: 20px;
}
.type-product{
	width: 100px;
	height: 50px;
	margin-left: 20px;
	box-shadow: 3px 3px 9px #333;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #FFF;
	background: linear-gradient(red,red);
	transition: .3s;
}
.type-product:hover{
	box-shadow: 1px 1px 3px #333;
	background: linear-gradient(#FFF,#FFF);
	color: #333;
	transition: 1s;
	cursor: pointer;
}