.ctg_item{
    width: 100%;
    height: 400px;
    overflow: none;
    margin: auto;
    position: relative;
}
.position_nav{
    width: 1328px;
    overflow: hidden;
    margin: auto;
}
.main_ctg{
    width: 2124px;
    display: inline-block;
}
.btn_ctg_nav{
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    transition: ease-in-out .3s;
    display: inline-block;
    position: absolute;
    top: 40%;
}
.btn_ctg_nav_left{
    background: url(/image/icon/DefaultIcon/png/48x48/arrow-8-left.png) no-repeat;
    background-size: cover;
    left: 4.5%;
}
.btn_ctg_nav_right{
    background: url(/image/icon/DefaultIcon/png/48x48/arrow-8-right.png) no-repeat;
    background-size: cover;
    right: 4.5%;
}