.slider{
	height: 600px;
	width: 1600px;
	margin: auto;
	text-align: center;
	border-bottom: solid 3px #F9AE54;
	transition: 1s;
	overflow: hidden;
}
.item{
	width: 6400px;
}
.slid-item{
	display: flex;
	position: relative;
	left: 0;
	transition: .5s ease-in-out;
}
.slid-item_prev,
.slid-item_next{
	position: relative;
	padding: 30px;
	border-radius: 10%;
	font-size: 18px;
	border: 1px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	opacity: .7;
	top: -60%;
}
.slid-item_prev:hover,
.slid-item_next:hover{
	border: 1px solid #333;
	opacity: 1;
}
.slid-item_prev{
	left: -40%;
	background: url(/image/icon/DefaultIcon/png/48x48/arrow-8-left.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.slid-item_next{
	left: 40%;
	background: url(/image/icon/DefaultIcon/png/48x48/arrow-8-right.png) no-repeat;
	background-size: contain;
	background-position: center;
}